@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.navbar{
    background: rgb(255, 255, 255);
    left: 0;
    right: 0;
    top: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: row;
    text-decoration: none;color: #404366;
    list-style-type: none;
    justify-content: space-between;
}
.navbarli{
    font-weight: 40px;
    margin-top: -10px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: row;
    text-decoration: none;color: #404366;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 40px;
}
.navbarlibut{
    
        margin-top: 10px;
        margin-left: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-end;
        flex-direction: row;
        text-decoration: none;color: #404366;
        list-style-type: none;
       
  
}
.button1{
    text-align: justify;
    display: flex;
margin-left: 10px;
padding-top: 10px;
padding: 10px 30px;
font-size: 95%;
position: static;
width: 112px;
height: 39px;
left: 482px;
top: 0px;
border-style: none;
background: #F26A7E;
border-radius: 4px;

/* Inside Auto Layout */

flex: none;
order: 3;
flex-grow: 0;

}
.getsbut{
    /* label */

position: static;
width: 89px;
height: 19px;
left: 35px;
top: 17px;

font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;

    text-align: justify;
    display: flex;
margin-left: 10px;
padding: 15px 55px 50px 5px;
font-size: 95%;
position: static;
width: 112px;
height: 39px;
left: 0px;
top: 0px;
border-style: none;
background: #F26A7E;
border-radius: 4px;
color: #FFFFFF;

/* Inside Auto Layout */

flex: none;
order: 3;
flex-grow: 0;
}
.post1{
    left: 30px;
    padding-left: 20px;
    margin-left: 10px;
}
.logo{
    margin-top: 0;
}
.post{
    /* label */

position: static;
width: 139px;
height: 19px;
left: 12px;
top: 10px;

font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #404366;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;

}
.container2{
/* Rectangle 1589 */



}
.submit{
    /* Frame 10 */

/* Auto Layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8.63361px 40px;

position: absolute;
width: 166.25px;
height: 48.84px;
left: 1062.99px;
top: 740.08px;

background: #404366;
border-radius: 4px;


/* Search */

position: static;
width: 166.25px;
height: 48.84px;
left: 1062.99px;
top: -1500.08px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 33px;
/* identical to box height, or 186% */
text-align: center;
letter-spacing: 0.106534px;

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 16px 0px;

}
.input{
    /* Rectangle 1588 */
margin-left: 40%;
position: absolute;
width: 52.99px;
height: 1018.27px;
left: 212px;
top: 990.99px;

background: #FFFFFF;
border: 1px solid #C9CBE2;
box-sizing: border-box;
border-radius: 4px;
transform: rotate(-90deg);

}
.quote{
    /* The only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.” -Steve Jobs */

position: absolute;
width: 561px;
height: 180px;
left: 161px;
top: 924px;

font-family: Inter;
font-style: italic;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* or 150% */
font-feature-settings: 'salt' on, 'liga' off;

color: #404366;


}
.text{
    /* Rectangle 1589 */
    margin-left: 2000px;
    padding-left: 40px;
margin-left: 90%;
border-radius: 12px;
padding: 100px;
background-color: aqua;
}
.bigtext{
   
}
.image{
    margin-top: 101px;
    margin-right: 743px;
    margin-bottom: 480px;
    margin-left: 157px;
    
    
}
.image2{
    margin-top: 101px;
    margin-right: 157px;
    margin-bottom: 480px;
    margin-left: 743px;
}
.man1{/* Untitled_Artwork 45 9 */

    position: absolute;
    width: 638px;
    height: 638px;
    left: 785px;
    top: 111px;
    
    background: url(../public/man.png);
    

    padding-left: 100px;
    margin-left: 300%;
}
.getstart{
    margin-top: 170px;
    margin-left: 100px;
    margin-bottom: 345px;
    margin-right: 1150px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: row;
    text-decoration: none;color: #404366;
    list-style-type: none;
}
.homepage2{
    margin-top: 90vh;
    background-color: #404366;
    height: 80vh;
}